<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Frase aleatório do Giacomini</title>
  <meta name="description" content="Giacobot">
  <meta name="author" content="Luiz Cezer">

</head>

<body>
  <%= message %>
</body>
</html>
